.nav-pills > li > a{
    color:#303136;
}

.nav-pills .nav-link{
  border-radius: 0;
}
.nav-pills > li > a:hover{
    border: medium none;
    border-radius: 0;
}
.tab-pane{
    background-color: grey;
    width: 100%;
}

.card-info{
    width: 800px;
    margin-top: 20px;
}